<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Tests">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
      <whitelist processUncoveredFilesFromWhitelist="true">
        <directory suffix=".php">app</directory>
      </whitelist>
    </filter>
    <logging>
      <log type="coverage-html" target="tests/cover/report" lowUpperBound="35"
           highLowerBound="70"/>
      <log type="coverage-clover" target="tests/cover/clover/coverage.xml"/>
    </logging>
</phpunit>